@import "../globals/variables";

body {
	background: {
		image: linear-gradient(to bottom, lighten($bg-color, 5%), $bg-color);
		color: $bg-color;
		repeat: no-repeat;
		size: 100% 360px;
	}
	color: $main-color;
	font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 1em 3em 3em;
}
