@import "../globals/mixins";
@import "../globals/variables";

.drop-area {
	height: 360px;
	position: relative;
	margin: 0 auto;
	background: {
		color: rgba($secondary-color, .1);
		position: 50% 50%;
		size: auto 100%;
		repeat: no-repeat;
	};

	&::before {
		content: attr(data-label);
		color: currentColor;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	&.drag {
		background-color: darken($secondary-color, 30%);
	}

	&__container {
		margin-bottom: 3em;
	}
}
