@import "../globals/mixins";
@import "../globals/variables";

.drop-area {
	height: 360px;
	position: relative;
	margin: 0 auto;
	background: {
		color: rgba($secondary-color, .1);
		position: 50% 50%;
		size: auto 100%;
		repeat: no-repeat;
	};

	&.drag {
		background-color: darken($secondary-color, 30%);
	}

	&__container {
		margin-bottom: 3em;
	}
}
