@import "../globals/variables";

header {
	margin-bottom: 2em;
	height: 3em;
}

.header-title {
	line-height: 3em;
	font-weight: 500;
	color: $text-color;
	text-transform: uppercase;
	letter-spacing: 5px;
}
