@import "../globals/variables";

.ui-bordered {
	border: 1px solid;

	&--dash {
		border-style: dashed;
	}
}

.ui-bordered-b {
	border-bottom: 2px solid;
}

.ui-main-color {
	 color: $main-color;
 }

.ui-sec-color {
	color: $secondary-color;
}

.ui-bg-main-alpha {
	background-color: rgba($main-color, .1);
}

.ui-bg-sec-alpha {
	background-color: rgba($secondary-color, .01);
}

.ui-margins-y {
	margin-top: 1em;
	margin-bottom: 1em;
}

.ui-margin-r {
	margin-right: 2em;
}

.ui-centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ui-bottom-margin {
	margin: 1em;
}
